$waves:#0dc367;
#common-songs{
    // display:flex;
    // padding:15px;
    // height: 100vh;
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);

}
#common-songs{
    flex:30%;
    padding:10px;
    height: 98vh;
}
#metrics{
    flex:70%;
    padding:15px;
}
.song{
    padding:10px;
    // display: flex;
    flex: 0 0 auto;
    min-width:250px;
    max-width:250px;
}
.song-list{
    overflow-y: scroll;
}
.row{
    display:flex;
}
.artist{
    color:gainsboro;
    font-size: 13px;
}
.cover-art{
    width: 150px;
    height: 150px;
    position: relative;
    z-index: 2;
    display:inline;

}
.details{
    display: inline-block;
    // margin-left: 20px;
    flex:75%;
    line-height: 25px;
}
.artists{
    min-height: 100vh;
    background-color: $waves;
    padding:20px;
}
.top-artists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   justify-content: center;
   width:96%
}
.top-artists>* {
    flex: 1 1 280px;
    
}
.artist-name{
    font-size: 20px;
}
.top-genres{
    display: flex;
    flex-wrap: wrap;
}
.top-genres>* {
    flex: 1 1 auto;
}
#genres{
    margin-top:50px;
}
.artist-img{
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    z-index: 1;
    margin-left:20px;
}
// .artist-name{
//     text-align: center;
//     background: #2c3134;
//     opacity: .7;
//     border-radius: 0px 0px 12px 12px;
//     position: absolute;
//     width: 100%;
//     bottom: 0px;
//     z-index: 2;
//     padding-bottom: 8px;
//     padding-top: 8px;
// }
.artist-tile{
    padding: 20px 15px 10px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 150px;
    height: 200px;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    color:black;
}

.rank{
    position: absolute;
    z-index: 2;
    top:0px;
    right:0px;
    font-size: 15px;
    // display: inline;
    padding: 10px;
}
.genre-tag{
    background-color:#0dc367;
    border-radius: 4px;
    color:#2c3134;
    margin:15px;
    padding:5px;
    font-size: 20px;
}
.genre-rank{
    color:white;
    border-right:1px solid #076938;
    padding:5px;
    display: inline;
    padding-right:10px
}
.genre-name{
    padding:5px;
    display: inline;
}
.users{
    font-size: 25px;
    font-weight: bold;
    color:#0dc367;
    display: flex;
}
.user{
    flex:1;
    margin:35px;
}
.and{
    flex: 1;
    margin:auto;
    font-size:40px;
    font-weight:bold;
    color: $waves;
}
.user-img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: block;
    margin: auto;
}
.artist-percentage span, .song-percentage span{
    font-size:25px;
    font-weight: bold;
    color:#0dc367
}
.title{
    font-size: 25px;
    font-weight: bold;
    color:white;
    margin:15px;
}
//hero
// body {
//     font-size: 16px;
//     font-family: 'Montserrat', sans-sherif;
//     margin: 0;
//     padding: 0;
//   }
  
  .content {
    // max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    width:100%;
  }
  
  .hero {
    position: relative;
    background: #333333;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .hero .users {
    position: relative;
    z-index: 1;
    // font-size: 4.0rem;
    margin: 0 0 10px;
    line-height: 1;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    // color: rgba(255, 255, 255, 0.9);
  }
  
  .hero .stats {
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.4;
    text-align: center;
    padding:25px;
  }
  
  /* ========================= */
  
  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: $waves;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 500ms;
    width:100%;
  }
  
  .waves::before,
  .waves::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  
  .waves::before {
    border-radius: 44%;
    background: rgba(51, 51, 51, 1);
    animation: waves 8s linear infinite;
  }
  
  .waves::after {
    border-radius: 44%;
    background: rgba(51, 51, 51, 0.5);
    animation: waves 15s linear infinite;
  }
  
  @keyframes waves {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

  //starts
  // creates randomized star sizes
@function stars($n) {
    $value: '#{random(2000)}px #{random(2000)}px #fff';
    @for $i from 2 through $n {
      $value: '#{$value} , #{random(2000)}px #{random(2000)}px #fff';
    }
    @return unquote($value);
  }
  
  // store random stars
  $stars-small: stars(700);
  $stars-medium: stars(200);
  $stars-big: stars(100);
  
  
  .stars {
    z-index: -1;
    overflow: hidden;
    top: 0;
    left: 0;
    // width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
  }
  
  .stars > .small {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $stars-small;
    animation: starsAnimation 50s linear infinite;
  
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $stars-small;
    }
  }
  
  .stars > .medium {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $stars-medium;
    animation: starsAnimation 100s linear infinite;
  
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $stars-medium;
    }
  }
  
  .stars > .big {
    width: 4px;
    height: 4px;
    background: transparent;
    box-shadow: $stars-big;
    border-radius: 100%;
    animation: starsAnimation 150s linear infinite;
  
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 4px;
      height: 4px;
      background: transparent;
      box-shadow: $stars-big;
      border-radius: 100%;
    }
  }
  
  // swap from/to values to reverse animation
  @keyframes starsAnimation {
    from {
      transform: translateY(-2000px);
    }
    to {
      transform: translateY(0px);
    }
  }
  @media only screen and (max-width: 600px) {
    .users{
        font-size: 15px;
        width:335px;
    }
    .user{
        flex:1;
        margin:25px;
    }
    .and{
        flex: 1;
        margin:auto;
        font-size:25px;
        font-weight:bold;
        color: $waves;
    }
    .user-img{
        height: 100px;
        width: 100px;
        border-radius: 100%;
        display: block;
        margin: auto;
    }
  }
  //Loading
.loading-body {
	align-items: center;
	background: #69c2a3;
	background-image: linear-gradient(45deg, #f7fcfd, #e8f6f9, #d5efed, #b7e4da, #8fd4c1, #69c2a3, #49b17f, #2f995a, #157f3c);
	display: flex;
    justify-content: center;
    height: 100vh;
    width:100vw;
}

.loader {
	animation: rotate 2s linear infinite normal;
	height: 1rem;
	position: relative;
	width: 1rem;
	
	&__ball {
		animation: move1 1s ease-out infinite alternate;
		background-color: #fff;
		border-radius: 50%;
		height: 100%;
		position: absolute;
		width: 100%;
		
		&:nth-of-type(2) {
			animation-name: move2;
		}
		
		&:nth-of-type(3) {
			animation-name: move3;
		}
	}
}

.vinyl {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/vinyl.png);
    background-position: center, center;
    background-size: cover, 40% auto;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    height: 125px;
    width: 125px;
    z-index: 1;
    position: relative;
    left: 75px;
    top: -140px;
}
.album{
    max-height: 150px;
}

.break {
    flex-basis: 100%;
    height: 0;
}
.artist-list{
    display:flex;
    flex-wrap: wrap;
}
.all-artists{
    // min-height:99vh
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #232fd5, #7623d5);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding:15px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.artist-list{
    div{
        flex:auto;
        font-size:15px;
        margin:10px;
    }
    div:nth-child(odd) {
        font-size:20px;
        color: #0dc367;
        margin:15px;
      }
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes move1 {
	0%, 5% {
		transform: translate(0, 0);
	}
	to {
		transform: translate(0, -100%);
	}
}

@keyframes move2 {
	0%, 5% {
		transform: translate(0, 0);
	}
	to {
		transform: translate(100%, 100%);
	}
}

@keyframes move3 {
	0%, 15% {
		transform: translate(0);
	}
	to {
		transform: translate(-100%, 100%);
	}
}
  