<div id=user-select>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class=prompt>Spotify username or ID of the user you want to compare with:</div>
    <input class=id-field name="id" ngModel required #id="ngModel">
    <button id=search>Search</button>
  </form>
</div>
<div class="user-container">
  <div class=column>
    <img src={{user?.img}} class=user-img>
    <div class="username">
      {{user?.display_name}}
    </div>
    <p>Playlists</p>
    <ul class=song-list>
      <li *ngFor="let song of user?.songList; let i = index">
        {{ song}}
      </li>
    </ul>
  </div>
  <div class=column>
    <div class="compared-user" *ngIf="this.comparedUser.id != null">
      <img src={{comparedUser?.img}} class=user-img>
      <div class=username>
        {{comparedUser?.display_name}}
      </div>

      <p>Playlists</p>
      <ul class=song-list>
        <li *ngFor="let song of comparedUser?.songList; let i = index">
          {{ song }}
        </li>
      </ul>
    </div>
  </div>
</div>